.introduction-wrapper{
  padding:8.16049em ms(0) ms(4) ms(0);
  margin:0;
  position:relative;
  height:90vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  @include mq(medium){
    min-height:28em;
  }
  
  & .introduction-text{
    max-width:$max-width;
    margin:0 auto;
    text-align:center;
    & .title{
      color:$primary-color;
      text-align:center;
      display:inline-block;
    }
    & .subtitle{
      font-weight:300;
      display:inline-block;
    }
    & h3{
      text-align:center;
      display:inline-block;
      text-transform:uppercase;
    }
  }
}

// About page photo header
.profile-photo{
  position:relative;
  margin-top:5em;
  width:100%;
  overflow:hidden;
  @include mq(medium){
    min-height: 23em;
    max-height:33em;
    overflow: hidden;
  }
  & video{
    display:none;
    position: absolute; 
    top:0;
    left:0;
    margin-top:0;
    min-width: 100%; 
    width: 100%; 
    height: auto; 
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
    @include mq(medium){
      display:block;
    } 
  }
  & img{
    width:100%;
    margin:0;
  }
}

.about-me{
  max-width:$max-width;
  margin:ms(4) ms(0);
  @include mq(medium){
    margin:ms(4) auto;
    max-width:38em;
  }
  & h1{
    margin-top:0;
  }
  // & h2 {
  //   margin-top:ms(1);
  //   @include mq(medium){
  //     margin-top:0;
  //   }
  // }
  & li{
    margin-left:ms(0);
    @include mq(medium){
      text-align:left;
      margin-left:0;
    }
  }
}

.skills{
  margin-top:1.3rem;
  @include mq(medium){
    width:33%;
    float:left;
    font-size:ms(-1);
    text-align:left;
  }
}
.lang-list{
  margin-top:1.3rem;
  @include mq(medium){
    width:33%;
    float:left;
    font-size:ms(-1);
  }
}
.software{
  margin-top:1.3rem;
  @include mq(medium){
    font-size:ms(-1);
  }
}