/* 
 * 
 *
 *  Animations
 *    
 *         
 */

/* SLIDE IN */

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* SLIDE OUT */

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    transform: translateY(120%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}



.animation-target {
  animation: animation 1250ms linear infinite both;
}

@keyframes heartbeat { 
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  2.631579% { transform: matrix3d(1.26909, 0, 0, 0, 0, 1.26909, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  5.263158% { transform: matrix3d(1.33015, 0, 0, 0, 0, 1.33015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  7.894737% { transform: matrix3d(1.28431, 0, 0, 0, 0, 1.28431, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  10.526316% { transform: matrix3d(1.20068, 0, 0, 0, 0, 1.20068, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  13.157895% { transform: matrix3d(1.11863, 0, 0, 0, 0, 1.11863, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  15.789474% { transform: matrix3d(1.0555, 0, 0, 0, 0, 1.0555, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  18.421053% { transform: matrix3d(1.01486, 0, 0, 0, 0, 1.01486, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  21.052632% { transform: matrix3d(1.13261, 0, 0, 0, 0, 1.13261, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  23.684211% { transform: matrix3d(1.29264, 0, 0, 0, 0, 1.29264, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  26.315789% { transform: matrix3d(1.29993, 0, 0, 0, 0, 1.29993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  28.947368% { transform: matrix3d(1.23754, 0, 0, 0, 0, 1.23754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  31.578947% { transform: matrix3d(1.15707, 0, 0, 0, 0, 1.15707, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  34.210526% { transform: matrix3d(1.08598, 0, 0, 0, 0, 1.08598, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  36.842105% { transform: matrix3d(1.03483, 0, 0, 0, 0, 1.03483, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  39.473684% { transform: matrix3d(1.00405, 0, 0, 0, 0, 1.00405, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  42.105263% { transform: matrix3d(0.98931, 0, 0, 0, 0, 0.98931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  44.736842% { transform: matrix3d(0.98506, 0, 0, 0, 0, 0.98506, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  47.368421% { transform: matrix3d(0.98647, 0, 0, 0, 0, 0.98647, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  50% { transform: matrix3d(0.99011, 0, 0, 0, 0, 0.99011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  52.631579% { transform: matrix3d(0.99393, 0, 0, 0, 0, 0.99393, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  55.263158% { transform: matrix3d(0.99699, 0, 0, 0, 0, 0.99699, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  57.894737% { transform: matrix3d(0.99903, 0, 0, 0, 0, 0.99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  60.526316% { transform: matrix3d(1.00016, 0, 0, 0, 0, 1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  63.157895% { transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00063, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  65.789474% { transform: matrix3d(1.00071, 0, 0, 0, 0, 1.00071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  68.421053% { transform: matrix3d(1.00058, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  71.052632% { transform: matrix3d(1.0004, 0, 0, 0, 0, 1.0004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  73.684211% { transform: matrix3d(1.00022, 0, 0, 0, 0, 1.00022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  76.315789% { transform: matrix3d(1.0001, 0, 0, 0, 0, 1.0001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  78.947368% { transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  81.578947% { transform: matrix3d(0.99998, 0, 0, 0, 0, 0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  84.210526% { transform: matrix3d(0.99997, 0, 0, 0, 0, 0.99997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  86.842105% { transform: matrix3d(0.99997, 0, 0, 0, 0, 0.99997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  89.473684% { transform: matrix3d(0.99997, 0, 0, 0, 0, 0.99997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  92.105263% { transform: matrix3d(0.99998, 0, 0, 0, 0, 0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  94.736842% { transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  97.368421% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(45deg); } 
}

