/* 
 * 
 *
 *  Case Study Slides (on the homepage)
 *    
 *         
 */

.case-study{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width:100%;
  position:relative;
  color:$absolute-color;
  margin:0;
  overflow:hidden;
  min-height:35em;
  height:85vh;
  
    & .case-study-information {
      max-width:(43em);
      position:relative;
      margin:0 ms(0);
      padding:ms(4) 0;
      @include mq(medium){
        margin:0 auto;
        padding-left:ms(0);
        padding-right:ms(0);
      }
     
      & .client{
        font-size:8vmax;
        margin-top:1.3rem;
        @include mq(medium){
          font-size:5em;
        }
        text-align:center;
      }
      & .intro{
        @include mq(medium){
          max-width:$max-width;
          font-size:ms(2);     
        }
      }
      & .view-case-study{
        text-align:center;
      }
    }

    & .btn-primary{
    border-color:$absolute-color;
    color:$absolute-color;
      &:hover{
      background-color:$absolute-color;
      }
    }

    .browser-window{
      background-color:$base-color;
      max-width:$max-width;
      margin-left:auto;
      margin-right:auto;
      padding: 0 1em;
      position:relative;
      background-clip:content-box;
      & img{
        width:55%;
      }
    }
}

.case-study--days-for-girls{
  background-color:$danger-color;
  color:$absolute-color;
  margin-top:0;
  &:after{
      background-image:url('../img/days-for-girls-bg.svg');
      background-repeat:repeat;
      background-size:12%;
      opacity: 0.065;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
      content:"";
      display:block;
      height:400%;
      width:400%;
      overflow:hidden;
  }
  & .btn:hover{
      color:$danger-color;
  }
  & .logo{
    width:100%;
    max-width:30em;
    margin:0 auto;
    display:block;
  }
}

.case-study--mother-4-game{
  background-color:$primary-color;
  & .logo{
    width:100%;
    margin:0 auto;
  }
  & .showcase{
    height:12em;
    margin:0 auto;
    max-width: $max-width;
    overflow:scroll;
    padding:0 1em;
    position:relative;
    @include mq(medium){
      height:15em;
    }
    & .mother-4-website{
      position:relative;
      margin:0;
      width:100%;
    }
  }
  & .marble{
    position:absolute;
    right:0;bottom:0%;left:0;
    width:100%;
    display:block;
    margin:0 auto;
      @include mq(medium){
        bottom:-25%;
      }
      & img{
        width:100%;
        opacity:0;
        transition: all 1s ease-in-out;       
      }
      & .lazyloaded{
        opacity:0.1;
      }
      & .bottom-gradient{
        background-image: linear-gradient(to bottom,rgba(0,0,0,0)0%,$primary-color 71%);
        position: absolute;
        bottom: 0;
        width: 100%;
        content: "";
        display: block;
        height: 100%;
      }
  }
  & .btn:hover{
    color:$primary-color;
  }
}


