/* 
 * 
 *
 *  Z-index positioning
 *    
 *         
 */
.sticky-wrapper{
  z-index:2;
}
.navigation{
  z-index:2;
}
.navigation-menu-mobile-icon{
  z-index:2;
}
.navigation-mobile-menu-flex-wrapper{
  z-index:3;
}
.navigation-mobile-menu-bg{
  z-index:1;
}

canvas{
  z-index:-1;
}

.case-study{
  z-index:0;
  & .case-study-information{
    z-index:1;
  }
  & .showcase, .browser-window{
    z-index:1;
  }
  & .marble{
    z-index:0;
  }
}
.case-study-title{
  z-index:1;
}
.video-container{
  z-index:-1;
}

.view-more{
  z-index:1;
  & .view-more-description{
    z-index:1;
  }
  &:after{
    z-index:-1;
  }
}

.m4g{
  &:before{
    z-index:0;
  }
  &:after{
    z-index:-1;
  }
}
