//- days-for-girls.jade
extends ../layout/layout.jade        

block content
  article(role='main')
    .dfg.headline-photo
      .case-study-title
        h1 
          img.dfg-flower.scene_element.scene_element--fadeinUp(src='//d3eslul21yiiti.cloudfront.net/img/days-for-girls-flower.svg', alt='Days for Girls International')
          span.small.scene_element.scene_element--fadeinUp Every Girl. Everywhere.
          <br> 
          span.large.scene_element.scene_element--fadeinUp Period

    .dfg-wrapper
        h2.scene_element.scene_element--fadein On a mission to provide every girl in the world with sustainable female hygiene by 2022.
        ul.tags.scene_element.scene_element--fadein
          li card sorting
          li content analysis
          li hierarchical clustering analysis
          li prototyping
          li sketching
          li visual mockups
          li wireframing

        p.lead.scene_element--fadein Days for Girls is a nonprofit that provides sustainable female hygiene and health education to girls around the world.  Girls use leaves, mattress stuffing, newspaper, corn husks, rocks—anything they can find—but still miss up to 2 months of school every year. This issue is a surprising, but instrumental, key to social change for women all over the world. Days for Girls gives girls back those days.
        
        h3 My Role

        p I oversee the entire digital user experience for Days for Girls during its rebranding and website launch. That includes research, design and code. This project is currently in progress and is 
          a(href='http://bradfrost.com/blog/post/designing-in-the-open/', target='_blank') being designed in the open.
        
        h3 Goals

        p Days for Girls is growing rapidly, but is unable to capitalize on that growth due to a poor online experience, particularly on mobile. The team hopes to increase online donations and volunteer involvement and more effectively communicate its mission. I was provided historical data from previous years to measure our project against it.

        h3 Results

        p This project is still underway. We anticipate increased online donations, increased skill-based volunteering and fewer individual inquiries on how to get involved. 
        hr
        h2 Backstory

        p Days for Girls works through volunteers who create "hygiene kits', which include everything a girl needs to take care of herself during that time of the month. Each kit is reusable and lasts up to 3 years.
      
        figure
          img.lazyload(src='//d3eslul21yiiti.cloudfront.net/img/girl-holding-dfg-bag-256w.jpg', data-srcset='//d3eslul21yiiti.cloudfront.net/img/girl-holding-dfg-bag-256w.jpg 256w, //d3eslul21yiiti.cloudfront.net/img/girl-holding-dfg-bag-512w.jpg 512w, //d3eslul21yiiti.cloudfront.net/img/girl-holding-dfg-bag-768w.jpg 768w, //d3eslul21yiiti.cloudfront.net/img/girl-holding-dfg-bag-1024w.jpg 1024w, //d3eslul21yiiti.cloudfront.net/img/girl-holding-dfg-bag-1440w.jpg 1356w', alt='Girl holding a Days for Girls\' Hygiene Kit', data-sizes='auto')
          figcaption A completed hygiene kit. Each colorful drawstring bag allows girls to discretely carry around their kit, safe from taboos.

        .challenges
          h2 Challenges

          p I realized early on that people new to Days for Girls often struggled with understanding how the organization worked. How kits were created and where they were supposed to go were the most frequently asked questions.  If people couldn't understand the mission, they wouldn't be compelled to donate.

          p Another note is our older demographic, 65+, have their own usability concerns. If you're interested, 
            a(href='http://assets.aarp.org/www.aarp.org_/articles/research/oww/AARP-50Sites.pdf', alt='AARP\'s web usability reivew') AARP has some interesting research on this.

          p Lastly, I'm working remotely. To keep the team in the loop, I've created a tool that holds the latest versions of deliverables and meeting notes. The Days for Girls Project Timeline isn't available publicly, but I've  
            a(href='https://github.com/zaneriley/project-timeline', target='_blank') open-sourced the tool over on Github.
            |  Project Timeline is based off of 
            a(href='https://github.com/bradfrost/project-hub', target='_blank') Brad Frost's Project Hub.
        
        .approach
          h2 Approach

          //- h3 Requirements gathering

          //- p Before you begin a project, you want to spend as much time listening as you can afford. After the initial debriefing, I read through their website content, their blog, earned media and social media profiles in an attempt to become familiar with as much as I could. This also included multiple follow-up conference calls with different members of the Days for Girls team. From this initial research, a few pain points came up again and again. 
          
          h3 Key Considerations
          p 
            strong A. Creating Hygiene Kits. 
          p Creating hygiene kits, arguably the main mission for volunteers, was complex. A volunteer could create partial or completed kits on their own, with a group of friends or with an official Chapter. They could then mail them to a Chapter or to Days for Girls headquarters. From there they were distributed to girls in need. It was difficult to understand where to begin, especially if you didn't sew. We knew early on that distilling this process would be a top priority. 

          p 
            strong B. Finding a Chapter. 
          p Finding a Chapter to join isn't easy. There are over 300 Chapters, or official Days for Girls groups, around the world that exist to create and distribute kits. Currently, getting in touch with a Chapter means doing some searching on your own to get in contact with them. Each Chapter operates with full autonomy, doing what works best for them. 

          p 
            strong C. The Donation Form. 
          p The donation form is lack luster. This is due largely to general usability problems with the entire site (e.g. sluggish performance, not optimized for mobile). 

          p 
            strong D. Maintaining the Site. 
          p Maintaining the site should be easy, even when I'm not available. Human capital is precious, especially for nonprofits. If we build something, it needs to be well documented, not clever, using as much evergreen content as possible.

          p With these points in mind, our next step is to become more familiar with our users so we can align our business goals with our user goals. Days for Girls handed off the credentials and away we went.

          h3 Finding the Audience

          p The easiest place to start is usually the existing analytics. Fortunately, Days for Girls had over two years' worth of data. 

          figure
            img.lazyload(src='//d3eslul21yiiti.cloudfront.net/img/dfg-google-analytics-256w.png', data-srcset='//d3eslul21yiiti.cloudfront.net/img/dfg-google-analytics-256w.png 256w, //d3eslul21yiiti.cloudfront.net/img/dfg-google-analytics-512w.png 512w, //d3eslul21yiiti.cloudfront.net/img/dfg-google-analytics-768w.png 768w, //d3eslul21yiiti.cloudfront.net/img/dfg-google-analytics-1024w.png 1024w, //d3eslul21yiiti.cloudfront.net/img/dfg-google-analytics-1440w.png 1440w', alt='Demographic data provided by Google Analytics', data-sizes='auto')
            figcaption Snapshot of Google Analytics demographic data.

          p The gender makeup isn't a surprise, but the wide range of ages make for something truly interesting. Girls of all ages make hygiene kits together in groups (officially called teams and Chapters). That isn't all the data available though. Google Analytics also provides psychographic information. Affinity categories such as home & garden, cooking, and health and fitness all scored highly.

          p Another quick and dirty way to get psychographic information is to use Facebook's Graph Search to find liked pages by people who like your product or organization. That'll get us a start.

          figure
            img.lazyload(src='//d3eslul21yiiti.cloudfront.net/img/dfg-facebook-graph-search-512w.gif', data-srcset='//d3eslul21yiiti.cloudfront.net/img/dfg-facebook-graph-search-512w.gif 512w, //d3eslul21yiiti.cloudfront.net/img/dfg-facebook-graph-search-768w.gif 768w, //d3eslul21yiiti.cloudfront.net/img/dfg-facebook-graph-search-1024w.gif 1024w, //d3eslul21yiiti.cloudfront.net/img/dfg-facebook-graph-search-1440w.gif 1440w', alt='Facebook\'s Open Graph Search Results', data-sizes='auto')
            figcaption Pages liked by people who like Days for Girls on Facebook.
          
          p.note Note: This approach has some caveats. This only works if you have a moderate amount of Facebook fans. If you have millions of likes, you will instead find a list of the most liked pages on Facebook. Perhaps Graph Search's best use case is for developing proto-personas. 

          h3 Information Architecture

          h4 Content Analysis

          p Before we get anywhere, we need to know where we're at. That usually starts with a page-by-page content analysis. This will help identify potential gaps in content—photography or copy for example—so we can design with those gaps in mind.

          figure
            img.lazyload(src='//d3eslul21yiiti.cloudfront.net/img/dfg-content-analysis-256w.jpg', data-srcset='//d3eslul21yiiti.cloudfront.net/img/dfg-content-analysis-256w.jpg 256w, //d3eslul21yiiti.cloudfront.net/img/dfg-content-analysis-512w.jpg 512w, //d3eslul21yiiti.cloudfront.net/img/dfg-content-analysis-768w.jpg 768w, //d3eslul21yiiti.cloudfront.net/img/dfg-content-analysis-1024w.jpg 1024w, //d3eslul21yiiti.cloudfront.net/img/dfg-content-analysis-1440w.jpg 1440w', alt='Content Analysis', data-sizes='auto')
            figcaption Page-by-page content analysis for Days for Girls. Data purposely blurred.

          p Few people enjoy doing a content analysis, but it's hard to argue with the results. Not only do we develop an accurate view of the existing content, but it establishes the person doing the analysis as a resident expert on the project. 

          p The content analysis showed there was plenty of copy, though revisions would be necessary. That's good news nonetheless, as content creation is time intensive. We didn't have as much photography, though what we did have was extremely high-res and fit with the existing brand.

          h4 Card Sorting & Sitemap

          p From the content analysis, we performed a cardsort online using 30 cards with 15 women within our demographic. We decided to tackle this online so that it was easier to round up people that fit our demographic. The disadvantage is that you aren't there to answer questions during the exercise so extra effort has to be made to communicate the exercise clearly the first time. 

          figure
            img.lazyload(src='//d3eslul21yiiti.cloudfront.net/img/dfg-hierarchical-analysis-256w.gif', data-srcset='//d3eslul21yiiti.cloudfront.net/img/dfg-hierarchical-analysis-256w.gif 256w, //d3eslul21yiiti.cloudfront.net/img/dfg-hierarchical-analysis-512w.gif 512w, //d3eslul21yiiti.cloudfront.net/img/dfg-hierarchical-analysis-768w.gif 768w, //d3eslul21yiiti.cloudfront.net/img/dfg-hierarchical-analysis-1024w.gif 1024w, //d3eslul21yiiti.cloudfront.net/img/dfg-hierarchical-analysis-1440w.gif 1440w', alt='Site Map', data-sizes='auto')
            figcaption Hierarchical analysis from the card sort.
          
          p Deciphering card sort results is both science and art. Boxes and Arrows has 
            a(href='http://boxesandarrows.com/card-sorting-a-definitive-guide/', target='_blank') a guide on card sorts
            |  that's worth reading if you want more information. From our results, we looked for patterns and created the first version of a sitemap.

          figure
            img.lazyload(src='//d3eslul21yiiti.cloudfront.net/img/dfg-sitemap-256w.gif', data-srcset='//d3eslul21yiiti.cloudfront.net/img/dfg-sitemap-256w.gif 256w, //d3eslul21yiiti.cloudfront.net/img/dfg-sitemap-512w.gif 512w, //d3eslul21yiiti.cloudfront.net/img/dfg-sitemap-768w.gif 768w, //d3eslul21yiiti.cloudfront.net/img/dfg-sitemap-1024w.gif 1024w, //d3eslul21yiiti.cloudfront.net/img/dfg-sitemap-1440w.gif 1440w', alt='Site Map', data-sizes='auto')
            figcaption Sitemap deliverable after card sorting analysis.

          h3 Visual design
          h4 Intial Sketching

          p With an audience in mind, our content identified and some idea of our information architecture, we can begin sketching out the layout. The donation form is pretty important so let's discuss that.
 
          figure
            img.lazyload(src='//d3eslul21yiiti.cloudfront.net/img/dfg-sketches-256w.jpg', data-srcset='//d3eslul21yiiti.cloudfront.net/img/dfg-sketches-256w.jpg 256w, //d3eslul21yiiti.cloudfront.net/img/dfg-sketches-512w.jpg 512w, //d3eslul21yiiti.cloudfront.net/img/dfg-sketches-768w.jpg 768w, //d3eslul21yiiti.cloudfront.net/img/dfg-sketches-1024w.jpg 1024w, //d3eslul21yiiti.cloudfront.net/img/dfg-sketches-1440w.jpg 1440w', alt='Wireframe sketches', data-sizes='auto')
            figcaption Earliest sketches of Days for Girls Donation Form
        
          h4 Wireframing
          p The wireframes were created in Sketch and then connected using Invision. Below is the donation module.
          figure
            img.lazyload(src='//d3eslul21yiiti.cloudfront.net/img/dfg-donation-module-256w.gif', data-srcset='//d3eslul21yiiti.cloudfront.net/img/dfg-donation-module-256w.gif 256w, //d3eslul21yiiti.cloudfront.net/img/dfg-donation-module-512w.gif 512w, //d3eslul21yiiti.cloudfront.net/img/dfg-donation-module-768w.gif 768w, //d3eslul21yiiti.cloudfront.net/img/dfg-donation-module-1024w.gif 1024w, //d3eslul21yiiti.cloudfront.net/img/dfg-donation-module-1440w.gif 1440w', alt='Donate Module Wireframe', data-sizes='auto')
            figcaption Donate Module Wireframes

          h4 Prototyping
          p Below is a working prototype of the donation form. Codepen doesn't work on mobile so its best to try on your desktop.
            
          figure
            p.codepen(data-height="612", data-theme-id="0", data-slug-hash="JoBWrN", data-default-tab="result", data-user="zaneriley")
            img.codepen-mobile(src='//d3eslul21yiiti.cloudfront.net/img/dfg-prototype-mobile-512w.gif', data-srcset='//d3eslul21yiiti.cloudfront.net/img/dfg-prototype-mobile-512w.gif 512w, //d3eslul21yiiti.cloudfront.net/img/dfg-prototype-mobile-1000w.gif 1000ww', alt='Donate Module Prototype', data-sizes='auto')
            figcaption See the Pen  
              a(href="http://codepen.io/zaneriley/pen/JoBWrN/") Donation Module Prototype [Work in Progress]
              |  on 
              a(href="http://codepen.io") CodePen
              | .
            script(async="", src="//assets.codepen.io/assets/embed/ei.js")

        
        //-   ul
        //-     li We performed card sorting, content analysis, sketches, wireframes, styletiles, visual mockups
        //-     li I did a 'gut check' on their existing materials by showing women in the target audience the original site to gauge their initial reaction.

        //- .results
        //-   h3 Results
        //-   ul
        //-     li Project ongoing. Read below.

        //- p What was that process like?

        //- p What were the lessons learned? What compromises were made and how did these effect the final product?

        //- p We learned early on the audience spanned a wide age range from 25 to 65+. With the older audience members in mind, there were some stylistic changes we ended up making to accommodate them. AARP's research was particularly useful.

        //- p We also had a style guide to work with, but it didn't include the web. It had originally looked for Georgia and Arial, two widespread typefaces that would save Days for Girls money in potential costs in desktop typefaces licenses.  However, because Hoefler's Cloud Typography offers up to five unique typefaces per license, it gave us the room to jump to Gotham. (Quite possibly the typeface of the decade.) Gotham feels uniquely American thanks to the many political campaigns its been featured in, and feels very strong against Archer's curves.

        //- p We had also planned to house content of all 300+ Chapters, but eventually had to put this as a wishlist feature because of the complexity. For now, a directory and map would suffice. Chapters have a large amount of autonomy and have been successful thus far. 


        //- .results
        //- p Results 

        //- p Goals: 

        //- p * Increase donations and involvement with Days for Girls. 

        //- p Hypotheses:

        //- p * Revamped donation form will encourage more users to go through the donation process. There has been some great case studies on this thanks to the 2012 election that inspired our form. You can view them here and here.

        //- p * Making the homepage about how Days for Girls works versus the latest news will lower the bounce rate significantly.

        //- p * Hosting costs should decrease

        //- p Ultimately, however, we're measuring success by if we receive more donations and involvement online. We'll measure those when the results come in.