//- index.jade
extends layout/layout.jade        

block content
  .profile-photo
    video(autoplay='true', loop='true', poster='punks-256w.jpg')
      source(src='profile-photo.webm', type='video/webm')
      source(src='img/profile-photo.mp4', type='video/mp4')
    img(src='img/profile-photo.jpg', alt="Zane Riley - User Experience")

  .about-me
    h1 I love Megan Keesee
    p Brooklyn migas kitsch occupy typewriter, ennui literally kogi flannel PBR polaroid Tumblr meditation DIY sustainable. XOXO small batch typewriter, High Life beard sartorial DIY organic Wes Anderson heirloom taxidermy mustache. Selfies pork belly readymade High Life pug mustache. Butcher mumblecore 3 wolf moon, pork belly readymade tattooed put a bird on it iPhone.
    p YOLO craft beer trust fund, keytar cliche selfies ethical food truck. Banksy single-origin coffee leggings Truffaut dreamcatcher narwhal. Gastropub sriracha distillery, hashtag tattooed tilde vinyl fashion axe photo booth brunch hoodie pop-up.
    p Paleo ethical master cleanse, YOLO small batch pop-up Helvetica semiotics blog. Cliche Portland XOXO Tumblr beard kale chips, keytar polaroid fingerstache four loko direct trade Echo Park tousled. Craft beer migas photo booth viral cronut pickled. Photo booth tattooed selfies stumptown.
    p Pour-over kitsch ennui, distillery health goth chia vegan tousled cardigan try-hard cold-pressed disrupt cray locavore bicycle rights. Disrupt pickled flexitarian deep v mustache paleo, Tumblr fixie Brooklyn direct trade master cleanse next level retro banjo.
    