//- about.jade
extends layout/layout.jade        

block content
    .profile-photo.scene_element.scene_element--fadein
      video(autoplay='true', loop='true', poster='img/profile-photo.jpg')
        source(src='profile-photo.webm', type='video/webm')
        source(src='img/profile-photo.mp4', type='video/mp4')
      img(src='img/profile-photo.jpg', alt='Zane Riley - User Experience')

    .main-content.scene_element.scene_element--fadein
      .about-me
        h2 Who I Am
        
        p My name is Zane. I'm a 24 year old product designer recently relocated to San Francisco.
        
        p Currently user experience designer for Days for Girls and Mother 4. Previously digital strategist with Red Letter Communications. Graduated in 2014 with a BS in public relations. 
        
        .skills
          h2 HCI 
          ul
            li User Research & Testing
            li Information Architecture
            li Visual Design
            li Prototyping
            li Wireframing

        .lang-list
          h2 Lang List
          ul
            li HTML5
            li CSS3 / Sass / Less
            li Javascript / Jquery
            li Grunt / Gulp
            li PHP
        
        .software
          h2 Software
          ul
            li Sketch
            li Illustrator
            li After Effects
            li Photoshop
            li Sublime Text

        p If I'm not building something, I'm camping with my dog, volunteering with 
          a(href='http://www.bbbs.org/', alt='Big Brothers, Big Sisters', target='_blank') Big Brothers, Big Sisters
          |  and sending postcards back home.  You can check out the 
          a(href='https://untappd.com/user/ZaneRiley', alt='My Untappd Profile', target='_blank') beers
          |  and 
          a(href='https://www.goodreads.com/user/show/33446427-zane-riley', alt='My Goodreads Profile', target='_blank') books
          |  I love—and recommend me more. 
